<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.builtclean.android.livewallpapers.ocean"
	android:versionName="1.0" android:versionCode="1">
	
	<uses-sdk android:minSdkVersion="7" /><uses-feature android:name="android.software.live_wallpaper" android:required="true"></uses-feature>

	
	
	<application android:label="@string/app_name" android:icon="@drawable/ocean_icon" android:debuggable="false">


		<service android:name="Ocean" android:label="@string/app_name"
			android:icon="@drawable/ocean_icon" android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService"></action>
			</intent-filter>
			<meta-data android:resource="@xml/wallpaper" android:name="android.service.wallpaper"></meta-data>
		</service>
	</application>





</manifest> 